* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
When setting the primary font stack, apply it to the Pure grid units along
with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: "Source Sans Pro", serif;
}

a {
    text-decoration: none;
    color: darkcyan;
}
a:hover,
a:focus {
    text-decoration: underline;
}

h3 {
    font-weight: 100;
}

/* LAYOUT CSS */
.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

#layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
}

.sidebar {
    background: #000;
    color: #fff;
}

.brand-title,
.brand-tagline {
    margin: 0;
}
.brand-title {
    text-transform: uppercase;
    font-family: "Oxygen", sans-serif;
}
.brand-title a{
    color:#ffffff;
}
.brand-title a:hover{
    text-decoration: none;
}
.brand-tagline {
    font-weight: 300;
    color: #55ffff;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-item {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.nav-item a {
    background: transparent;
    border: 2px solid #aa00aa;
    color: #ff55ff;
    margin-top: 1em;
    /*letter-spacing: 0.05em;
    text-transform: uppercase;
     font-size: 85%; */
    font-weight: bold;
    font-family: "Oxygen", sans-serif;
}
.nav-item a:hover,
.nav-item a:focus {
    border: 2px solid #ff55ff;
    text-decoration: none;
}

.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.post {
    padding-bottom: 2em;
}
.post-title {
    font-size: 2em;
    color: #222;
    margin: 0.4em 0;
    font-family: "Oxygen", sans-serif;
    font-weight: bold;
}
.post-title:hover{
    text-decoration: none;
}
.post-avatar {
    border-radius: 50px;
    float: right;
    margin-left: 1em;
}
.post-description {
    font-family: "Source Sans Pro", serif;
    color: #333;
    line-height: 1.35em;
}
.post-meta {
    color: #999;
    font-size: 90%;
    margin: 5px 0;
}

.post-category {
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: #999;
    font-size: 80%;
}
.post-category-design {
    background: #5aba59;
}
.post-category-pure {
    background: #4d85d1;
}
.post-category-yui {
    background: #8156a7;
}
.post-category-javascript {
    background: #df2d4f;
}

.post-images {
    margin: 1em 0;
}
.post-image-meta {
    margin-top: -3.5em;
    margin-left: 1em;
    color: #fff;
    text-shadow: 0 1px 1px #333;
}

.footer {
    text-align: center;
    padding: 1em 0;
    color: #555;
    font-size: 80%;
}
.footer ul li a {
    display:inline;
    padding: 0;
}
.hugo{
    color:#333;
    font-weight: bold;
}
.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
    background: none;
}
.footer li{
    list-style-type: none;
}

.post-share-links{
    margin:15px 15px 0 0;
    float:left;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.post-share-links a{
    color:#aaa;
    font-size: 28px;
    line-height: 36px;
    margin: 0 auto;
    display: block;
    transition: all .3s ease-in;
}

.post-share-links a:hover{
    color: rgb(61, 146, 201);
    text-decoration: none;
}

.post-share-links h4{
    font-family: "Oxygen", sans-serif;
    margin:0 0 5px;
    color:#aaa
}

@media (min-width: 48em) {
    .content {
        padding: 2em 3em 0;
        margin-left: 25%;
    }

    .header {
        margin: 80% 2em 0;
        text-align: right;
    }

    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
    }
}
